In [6]:
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen as urq
import pandas as pd
import numpy as np

### Scrapping phones from Amazon website

In [55]:
url='https://www.amazon.in/mobile-phones/b/?ie=UTF8&node=1389401031&ref_=nav_cs_mobiles'

In [56]:
client=urq(url)

In [57]:
page=client.read()

In [58]:
client.close()

In [59]:
page_soup=bs(page,'html.parser')

In [98]:
container=page_soup.find_all('div',{'class':'a-section a-spacing-none a-inline-block s-position-relative'})
prices=page_soup.find_all('span',{'class':'a-size-base a-color-price s-price a-text-bold'})

In [100]:
print(len(container),len(prices))

24 24

### Scrapping Model, Price and RAM

In [185]:
price_inr=[];model=[];ram=[]
for obj in prices:
    price=(bs.prettify(obj).split('\n'))
    price_inr.append(int(price[3][1:].replace(',','')))
for obj in container:
    name=obj.img['alt']
    model.append(name)
    if 'RAM,' in name.split(' '):
        i=name.split(' ').index('RAM,')
        ram.append(int(name.split(' ')[i-1][0]))
    else:
        ram.append(None)

In [187]:
print(price_inr,model,ram,sep='\n\n')

[10999, 1999, 6999, 10999, 10999, 6999, 249, 7999, 16999, 12699, 599, 229, 16999, 1499, 15999, 449, 269, 399, 1499, 7999, 14999, 399, 369, 245]

['Redmi Note 8 (Neptune Blue, 4GB RAM, 64GB Storage)', 'OnePlus Bullets Wireless Z (Black)', 'Redmi 8A Dual (Sea Blue, 2GB RAM, 32GB Storage) – Dual Cameras & 5,000 mAH Battery', 'Redmi Note 8 (Space Black, 4GB RAM, 64GB Storage)', 'Redmi Note 8 (Moonlight White, 4GB RAM, 64GB Storage)', 'Redmi 8A Dual (Sky White, 2GB RAM, 32GB Storage) – Dual Cameras & 5,000 mAH Battery', 'boAt Rugged v3 Extra Tough Unbreakable Braided Micro USB Cable 1.5 Meter (Black)', 'Redmi 8A Dual (Sea Blue, 3GB RAM, 32GB Storage) – Dual Cameras & 5,000 mAH Battery', 'Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)', 'Samsung Galaxy M21 (Raven Black, 4GB RAM, 64GB Storage)', 'JBL C100SI In-Ear Deep Bass Headphones with Mic (Black)', 'Mi USB Cable 120cm (Black)', 'Samsung Galaxy M31 (Space Black, 6GB RAM, 128GB Storage)', 'boAt Rockerz 255 Sports Wireless Headset with Bluetooth V5.0, Super Extra Bass, IPX5 Water & Sweat Resistance, Qualcomm Chipset and Up to 6H Playback (Active Black)', 'Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 64GB Storage)', 'RSC POWER+ Compatible Dash/Warp Data Sync Fast Charging Cable Supported for All C Type Devices (Red and White)', 'Mi 2-in-1 USB Cable (Micro USB to Type-C) 100cm', 'Mi India Standard Charger 5V 2A', 'Mi 20000mAH Li-Polymer Power Bank 2i (Sandstone Black) with 18W Fast Charging', 'Redmi 8A Dual (Midnight Grey, 3GB RAM, 32GB Storage) – Dual Cameras & 5,000 mAH Battery', 'Samsung Galaxy M21 (Midnight Blue, 6GB RAM, 128GB Storage)', 'iBall 10000 mAh Powerbank (IB-10000LP), Dual USB Output, Black', 'AmazonBasics USB Type-C to USB-A 2.0 Male Cable - 3 Feet (0.9 Meters) - Black', 'CEDO Tempered Glass for Samsung Galaxy M31 / M30 / A50 / A30 | Screen Protector Full HD Quality Edge to Edge Coverage for Samsung Galaxy M31 / M30 / A50 / A30 (Black)']

[4, None, 2, 4, 4, 2, None, 3, 6, 4, None, None, 6, None, 6, None, None, None, None, 3, 6, None, None, None]

### creating a dataframe and exporting data to a csv file

In [174]:
data=pd.DataFrame({'Product':model,'Price':price_inr,'RAM':ram})

In [195]:
data.to_excel('phones.xlsx',index=False)

In [175]:
data.head()

                                             Product  Price  RAM
0  Redmi Note 8 (Neptune Blue, 4GB RAM, 64GB Stor...  10999  4.0
1                 OnePlus Bullets Wireless Z (Black)   1999  NaN
2  Redmi 8A Dual (Sea Blue, 2GB RAM, 32GB Storage...   6999  2.0
3  Redmi Note 8 (Space Black, 4GB RAM, 64GB Storage)  10999  4.0
4  Redmi Note 8 (Moonlight White, 4GB RAM, 64GB S...  10999  4.0

In [176]:
data.describe()

              Price        RAM
count     24.000000  12.000000
mean    6203.833333   4.166667
std     6238.238517   1.527525
min      229.000000   2.000000
25%      399.000000   3.000000
50%     4499.000000   4.000000
75%    10999.000000   6.000000
max    16999.000000   6.000000

In [178]:
max_RAM=data['RAM'].max()

In [181]:
new_data=data[data['RAM']==max_RAM].sort_values(by='Price',axis=0)

## The phone with highest RAM at lowest price

In [189]:
new_data.head(1)

                                              Product  Price  RAM
20  Samsung Galaxy M21 (Midnight Blue, 6GB RAM, 12...  14999  6.0